{% extends "base/base.html" %}
{% load advertisement_tag %}
{% load staticfiles %}
{% block title %}<title>Login|Advert!sera</title>{% endblock %}
{% block content %}
     <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="slick_slider">
          <div class="single_iteam"> <a href=""> <img src="/static/images/expired.png" alt="image-expired"></a>
            <div class="slider_article">
              <h2><a class="slider_tittle" href=""></a></h2>
            </div>
          </div>
        </div>
     </div>
{% endblock %}
