{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}<title>Add|Advert!sera</title>{% endblock %}
{% block content %}



  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="contact_area">
            {% if user.is_authenticated %}
            <h2>Add An Advertisement</h2></br>
            <h4>{% for message in messages %}{{ message }}{% endfor %}</h4>
            <form novalidate action="." method="post" class="contact_form" enctype="multipart/form-data">
                {% csrf_token %}{{ form.non_field_errors }}
                <span class="feature_span">Title* :{{ form.title.errors }}{{ form.title }}</span>
                <span class="feature_span">Category* :{{ form.category.errors }}{{ form.category }}</span>
                <span class="feature_span">Description* :{{ form.description.errors }}{{ form.description }}</span>
                <span class="feature_span">Image* :{{ form.image.errors }}{{ form.image }}</span>
                <span class="feature_span">Address :{{ form.address.errors }}{{ form.address }}</span>
                <span class="feature_span">Contact Email* :{{ form.contact_email.errors }}{{ form.contact_email }}</span>
                <span class="feature_span">Contact Number :{{ form.contact_number.errors }}{{ form.contact_number }}</span>
             <button type="submit" class="form_submission">Submit</button>
            </form>
            {% else %}
                <div id="myModal2" class="modal">
                  <!-- Modal content -->
                  <div class="modal-content">
                    <div class="modal-header">
                      <span class="close">&times;</span>
                      <h2>Feature Your Advertisement!!</h2>
                    </div>
                    <div class="modal-body">
                      <p>Please Log In To Add An Advertisement!!!</p>

                    </div>
                    <div class="modal-footer">
                      <h3>Team Advertisera</h3>
                    </div>
                  </div>
                </div>

            {% endif %}
          </div>
        </div>
      </div>

    {% include "advertisements/categories.html" %}

    </div>
  </section>
{% endblock %}

{% block jquery %}
<!--//to perform like-->
<script type="application/javascript" >
$('document').ready(function(){
$(document).on('click', '#search-ad', function(){
      var ad_search = $('#ad_search').val();
      $(".searchkeyword").attr('href',"{% url 'testsearch' %}?second_search="+ad_search);
      $.ajax({
               type: "get",
               url: "/search/?ad_search="+ad_search,
               dataType: 'json',
               processData: false, // Don't process the files
               contentType: false,
               success: function(response) {
                   $('#checkcheck').html('');
                   if(response.status == 'searched' ) {
                       $("#no-result").css("display", "none");
                       $("#no-entry").css("display", "none");
                       for (var i = 0, size = response.advs.length; i < size; i++) {
                           $("#checkcheck").append('<li><div class="media wow fadeInDown"><a href="/advertisement-detail/'+response.advs[i].slug+'/" class="media-left"> <img alt="ad-img" src="media/'+response.advs[i].image+'"></a><div class="media-body"> <a href="/advertisement-detail/'+response.advs[i].slug+'/" class="catg_title">'+response.advs[i].title+'</a> </div></div></li>');
                           $(".showthosemore").attr("style","display : block");
                       }
                       $("#refershit").refresh
                   }
                   else if(response.status == 'na-searched' ){
                           $(".no-result").attr("style","display : block");
                           $(".showthosemore").css("display", "none");
                   }
                   else if(response.status == 'no-data' ){
                           $(".no-entry").attr("style","display : block");
                           $(".showthosemore").css("display", "none");
                   }
                },
                error: function(rs, e) {
                       alert(rs.responseText);
                }
          });
    })

    $('#ad_search').keypress(function(e){
        if(e.which == 13){//Enter key pressed
            $('#search-ad').click();//Trigger search button click event
        }
    });


});

$(document).on('click', '#showthosemore', function(){
      var second_search = $('#ad_search').val();
      $.get("{% url 'testsearch' %}?second_search=" + second_search, function (data) {
          alert(data);
       }, 'json');

    })
</script>
{% endblock %}
