{% extends "base/base.html" %}
{% load advertisement_tag %}
{% load staticfiles %}
{% block title %}<title>Advert!sera|Detail</title>{% endblock %}
{% block content %}


  <section id="contentSection">
{% if advertisement.is_featured == False and advertisement.created_by == user %}
 <!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Feature Your Advertisement!!</h2>
    </div>
    <div class="modal-body">
      <p>Looks like your advertisement,"{{ advertisement.title }}" has not been featured yet.If you want to you can make a payment here :) </p>
      <form action="/pay/{{ advertisement.slug }}/" method="post">
        {% csrf_token %}
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_Oj0Jn8JXLAHJPx8KjTJOJfFK"
          data-amount="2000"
          data-name="Stripe.com"
          data-description="2 widgets"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-locale="auto"
          data-zip-code="true">
        </script>
      </form>
    </div>
    <div class="modal-footer">
      <h3>Team Advertisera</h3>
    </div>
  </div>
</div>
{% endif %}
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_page">
            <h1>{{ advertisement.title }}</h1><span class="recommend-icon icon-heart-empty"></span>
            {% if user.is_authenticated %}
             {% get_like user advertisement as likes %}
            <button id="like-ad" {% if likes %}class="fa fa-thumbs-up lavendera" {% else %} class="fa fa-thumbs-up" {% endif %}" aria-hidden="true"></button>
            {% endif %}
            <h4 class="lavendera">{% for message in messages %}{{ message }}{% endfor %}</h4>

            <div class="post_commentbox"> <a href="#"><i class="fa fa-user"></i>{{ advertisement.created_by.username }}</a> <span><i class="fa fa-calendar"></i>{{ advertisement.created }}</span> <a href="#"><i class="fa fa-tags"></i>{{ advertisement.category.category }}</a> </div>
            <div class="single_page_content"> <img class="img-center" src="{{ advertisement.image.url }}" alt="ad-image">
              <span class="recommend-icon icon-heart-empty"></span>
              <p>{{ advertisement.description }}</p>
              <h5>ADDRESS:</h5>
              <p>{{ advertisement.address }}</p>
              <h5>CONTACT EMAIL:</h5>
              <p>{{ advertisement.contact_email }}</p>
              {% if advertisement.contact_number %}
              <h5>CONTACT NUMBER:</h5>
              <p>{{ advertisement.contact_number }}</p>{% endif %}
              {% if advertisement.is_featured %}
              <h5>FEATURED : YES !</h5>{% endif %}
            {% if user == advertisement.created_by %}
            <a href="{% url 'advertisement-edit' slug=advertisement.slug %}"><button type="submit" class="form_submission">EDIT</button></a>
            <a href="{% url 'advertisement-delete' slug=advertisement.slug %}"><button type="submit" class="form_submission">DELETE</button></a>
            {% else %}
            <button type="submit" class="form_submission">*Edit permission is granted to the creator alone.</button>
            {% endif %}
            <div id="disqus_thread"></div>
            <script>

            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://https-advertisera-dep-herokuapp-com.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>Related Posts<i class="fa fa-thumbs-o-up"></i></span></h2>
            <ul class="spost_nav">
            {% advertisement_list as advertisements %}
            {% for ad in advertisements %}
              {% if ad.category == advertisement.category %}
              {% if ad.id != advertisement.id %}
              <li>
                <div class="media wow fadeInDown"> <a href="{% url 'advertisement-detail' slug=ad.slug %}" class="media-left"> <img alt="ad-image" src="{{ ad.image.url }}"> </a>
                  <div class="media-body"> <a href="{% url 'advertisement-detail' slug=ad.slug %}" class="catg_title">{{ ad.title|truncatechars:44 }}</a> </div>
                </div>
              </li>
              {% endif %}
              {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="single_sidebar">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Category</a></li>
              <!--<li role="presentation"><a href="#video" aria-controls="profile" role="tab" data-toggle="tab">Search</a></li>-->
              <li role="presentation"><a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">Latest Ads</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="category">
                <ul>
                   {% category_list as categories %}
                   {% for category in categories %}
                  <li class="cat-item"><a href="{% url 'category-listing' slug=category.slug %}">{{ category.category }}</a></li>
                   {% endfor %}
                </ul>
              </div>
             <div role="tabpanel" class="tab-pane" id="video">
                <!--<div class="vide_area">-->
                  <!--<iframe width="100%" height="250" src="http://www.youtube.com/embed/h5QWbURNEpA?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>-->
                <!--</div>-->
              </div>
              <div role="tabpanel" class="tab-pane" id="comments">
                <ul class="spost_nav">
                  {% advertisement_list as advertisements %}
                  {% for advertisement in advertisements|slice:":4"%}
                  <li>
                    <div class="media wow fadeInDown"> <a href="{% url 'advertisement-detail' slug=advertisement.slug %}" class="media-left"> <img alt="ad-image" src="{{ advertisement.image.url }}"> </a>
                      <div class="media-body"> <a href="{% url 'advertisement-detail' slug=advertisement.slug %}" class="catg_title">{{ advertisement.title }}</a> </div>
                    </div>
                  </li>
                  {% endfor %}

                </ul>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>
{% endblock %}
{% block jquery %}

<!--//to perform like-->
<script type="application/javascript" >
var span = document.getElementsByClassName("close")[0];
$( document ).ready(function() {
    $('#myModal').modal('show');
});
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
<script type="application/javascript" >
$(document).on('click', '#like-ad', function(){

      $.ajax({
               type: "post",
               url: "/like-ad/{{ advertisement.slug }}/",
               dataType: 'json',
               processData: false, // Don't process the files
               contentType: false,
               beforeSend: function (xhr, settings) { // to send csrf token
                   xhr.setRequestHeader("X-CSRFToken", $csrfmiddlewaretoken);
               },
               success: function(response) {
                   if(response.status == 'liked' ) {
                       var d = document.getElementById("like-ad");
                       d.className += " orangera";

                   }
                   else if(response.status == 'unliked' ){
                       var d = document.getElementById("like-ad");
                       d.classList.remove("orangera");
                       d.classList.remove("lavendera");
                   }
                },
                error: function(rs, e) {
                       alert(rs.responseText);
                }
          });
    })
</script>
{% endblock %}

