{% load advertisement_tag %}
<div class="col-lg-4 col-md-4 col-sm-4">
         <div class="single_sidebar">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Category</a></li>
              <li role="presentation"><a href="#video" aria-controls="profile" role="tab" data-toggle="tab">Search</a></li>
              <li role="presentation"><a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">Latest Ads</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="category">
                <ul>
                   {% category_list as categories %}
                   {% for category in categories %}
                  <li class="cat-item"><a href="{% url 'category-listing' slug=category.slug %}">{{ category.category }}</a></li>
                   {% endfor %}
                </ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="video">
                 <input type="text" placeholder="Search using title or category" required class="form-control" id="ad_search" >
                 <button id="search-ad" class="form_submission form-control" type="submit">Submit</button>
                <div id="refershit">
                <ul id="checkcheck" class="spost_nav" >
                </ul>
                </div>
                <button id="showthosemore" style="display: None" class="cat-item lavendera showthosemore" type="submit"><a class="searchkeyword" href="">MORE</a></button>

                  <li id="no-result" style="display: None" class="cat-item no-result">No Search Results!</li>
                  <li id="no-entry" style="display: None" class="cat-item no-entry">Enter An Advertisement Title!</li>

              </div>
              <div role="tabpanel" class="tab-pane" id="comments">
                <ul class="spost_nav">
                  {% advertisement_list as advertisements %}
                  {% for advertisement in advertisements|slice:":4"%}
                  <li>
                    <div class="media wow fadeInDown"> <a href="{% url 'advertisement-detail' slug=advertisement.slug %}" class="media-left"> <img alt="ad-img" src="{{ advertisement.image.url }}"> </a>
                      <div class="media-body"> <a href="{% url 'advertisement-detail' slug=advertisement.slug %}" class="catg_title">{{ advertisement.title }}</a> </div>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
      </div>
