{% extends "base/base.html" %}
{% load advertisement_tag %}
{% load staticfiles %}
{% block content %}
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_page">
            <h1></h1>
            <div class="post_commentbox"> </div>
            <h1>{{ category.category}}</h1>
            <div class="single_page_content"> <img class="img-center" src="{% static 'images/featured_img1.jpg' %}" alt="">
              {% for ad in ads %}
              <a href="{% url 'advertisement-detail' slug=ad.slug %}"><h5>{{ forloop.counter  }} - {{ ad.title }}</h5></a>
              <p>{{ad.description|truncatechars:400}}</p>
              {% endfor %}

            </div>
            <div class="social_link">
              <ul class="sociallink_nav">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
         <div class="single_sidebar">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Category</a></li>
              <!--<li role="presentation"><a href="#video" aria-controls="profile" role="tab" data-toggle="tab">Video</a></li>-->
              <li role="presentation"><a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">Latest Ads</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="category">
                <ul>
                   {% category_list as categories %}
                   {% for category in categories %}
                  <li class="cat-item"><a href="{% url 'category-listing' slug=category.slug %}">{{ category.category }}</a></li>
                   {% endfor %}
                </ul>
              </div>
              <!--<div role="tabpanel" class="tab-pane" id="video">-->
                <!--<div class="vide_area">-->
                  <!--<iframe width="100%" height="250" src="http://www.youtube.com/embed/h5QWbURNEpA?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>-->
                <!--</div>-->
              <!--</div>-->
              <div role="tabpanel" class="tab-pane" id="comments">
                <ul class="spost_nav">
                  {% advertisement_list as advertisements %}
                  {% for advertisement in advertisements|slice:":4"%}
                  <li>
                    <div class="media wow fadeInDown"> <a href="{% url 'advertisement-detail' slug=advertisement.slug %}" class="media-left"> <img alt="" src="{{ advertisement.image.url }}"> </a>
                      <div class="media-body"> <a href="{% url 'advertisement-detail' slug=advertisement.slug %}" class="catg_title">{{ advertisement.title }}</a> </div>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>
{% endblock %}
