{% extends "base/base.html" %}
{% load advertisement_tag %}
{% load staticfiles %}
{% block title %}<title>Edit|Advert!sera</title>{% endblock %}
{% block content %}
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="contact_area">
            <h2>Edit Advertisement</h2>
            <form novalidate action="." method="post" class="contact_form" enctype="multipart/form-data">
                {% csrf_token %}{{ form.non_field_errors }}
                <span class="feature_span">Title* :{{ form.title.errors }}{{ form.title }}</span>
                <span class="feature_span">Category* :{{ form.category.errors }}{{ form.category }}</span>
                <span class="feature_span">Description* :{{ form.description.errors }}{{ form.description }}</span>
                <span class="feature_span">Image* :{{ form.image.errors }}{{ form.image }}</span>
                <span class="feature_span">Address :{{ form.address.errors }}{{ form.address }}</span>
                <span class="feature_span">Contact Email* :{{ form.contact_email.errors }}{{ form.contact_email }}</span>
                <span class="feature_span">Contact Number :{{ form.contact_number.errors }}{{ form.contact_number }}</span>
             <button type="submit" class="form_submission">Save</button>
            </form>
          </div>
        </div>
      </div>
    {% include "advertisements/categories.html" %}

    </div>
  </section>
{% endblock %}
