{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}<title>Contact|Advert!sera</title>{% endblock %}
{% block content %}
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="contact_area">
            <h2>Contact Us</h2>
            <h5>Contact us for any kind of query or feedback.We appreciate and value your opinions!</h5>
            <form novalidate action="{% url 'contact' %}" class="contact_form" method="post">
            <h4 class="lavendera">{% for message in messages %}{{ message }}{% endfor %}</h4>
                {% csrf_token %}{{ form.non_field_errors }}
                {{ form.name.errors }}{{ form.name }}
                {{ form.email.errors }}{{ form.email }}
                {{ form.message.errors }}{{ form.message }}
             <button type="submit" class="form_submission">Submit</button>
            </form>
          </div>
        </div>
      </div>
    {% include "advertisements/categories.html" %}
    </div>
  </section>
{% endblock %}
{% block jquery %}
<!--//to perform like-->
<script type="application/javascript" >
$('document').ready(function(){
$(document).on('click', '#search-ad', function(){
      var ad_search = $('#ad_search').val();
      $(".searchkeyword").attr('href',"{% url 'search-response' %}?second_search="+ad_search);
      $.ajax({
               type: "get",
               url: "/search/?ad_search="+ad_search,
               dataType: 'json',
               processData: false, // Don't process the files
               contentType: false,
               success: function(response) {
                   $('#checkcheck').html('');
                   if(response.status == 'searched' ) {
                       $("#no-result").css("display", "none");
                       $("#no-entry").css("display", "none");
                       for (var i = 0, size = response.advs.length; i < size; i++) {
                           $("#checkcheck").append('<li><div class="media wow fadeInDown"><a href="/advertisement-detail/'+response.advs[i].slug+'/" class="media-left"> <img alt="ad-img" src="media/'+response.advs[i].image+'"></a><div class="media-body"> <a href="/advertisement-detail/'+response.advs[i].slug+'/" class="catg_title">'+response.advs[i].title+'</a> </div></div></li>');
                           $(".showthosemore").attr("style","display : block");
                       }
                       $("#refershit").refresh
                   }
                   else if(response.status == 'na-searched' ){
                           $(".no-result").attr("style","display : block");
                           $(".showthosemore").css("display", "none");
                   }
                   else if(response.status == 'no-data' ){
                           $(".no-entry").attr("style","display : block");
                           $(".showthosemore").css("display", "none");
                   }
                },
                error: function(rs, e) {
                       alert(rs.responseText);
                }
          });
    })

    $('#ad_search').keypress(function(e){
        if(e.which == 13){//Enter key pressed
            $('#search-ad').click();//Trigger search button click event
        }
    });


});

$(document).on('click', '#showthosemore', function(){
      var second_search = $('#ad_search').val();
      $.get("{% url 'search-response' %}?second_search=" + second_search, function (data) {
          alert(data);
       }, 'json');

    })
</script>
{% endblock %}

